# Customer Churn - Feature Engineering

Let's implement some feature engineering to enhance model training.

In [29]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn.preprocessing import OneHotEncoder

In [30]:
# configure visuals
sns.set_palette("husl")
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Current State of the data

In [31]:
# take a look at our data
df = pd.read_csv('data/processed/customer_churn_clean.csv')
print("\nDataset shape:", df.shape)
df.head()

Dataset shape: (7043, 21)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-vhveg,female,0,1,0,1,0,0,dsl,0,1,0,0,0,0,month-to-month,1,electronic check,29.850,29.850,0
1,5575-gnvde,male,0,0,0,34,1,0,dsl,1,0,1,0,0,0,one year,0,mailed check,56.950,1889.500,0
2,3668-qpybk,male,0,0,0,2,1,0,dsl,1,1,0,0,0,0,month-to-month,1,mailed check,53.850,108.150,1
3,7795-cfocw,male,0,0,0,45,0,0,dsl,1,0,1,1,0,0,one year,0,bank transfer (automatic),42.300,1840.750,0
4,9237-hqitu,female,0,0,0,2,1,0,fiber optic,0,0,0,0,0,0,month-to-month,1,electronic check,70.700,151.650,1

In [32]:
# drop customer id column as it doesn't provide and valuable information
df.drop(columns='customerID', inplace=True)

# One-Hot Encoding

One-hot encoding can help translate categorical values into a set of indicator values in which the model can use to identity more complex relationships between features

let's take a look at some of the features in which we can apply one-hot encoding:
* gender
* InternetService
* Contract
* PaymentMethod

## Gender

In [ ]:
# since our gender feature contains two genders (male and female), we can one-hot encode only only of the genders.
# say we one-hot encode female, we would get 1 and 0. 1 would indicate female and 0 would indicate male.
# this would allow use to apply one-hot encoding while also not increasing our parameter size

encoder = OneHotEncoder()
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
print(categorical_cols)

# encode with OneHotEncoder from sklearn
encoder = OneHotEncoder(sparse_output=False)
one_hot_encoded = encoder.fit_transform(df[categorical_cols])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_cols))

# drop one of the gender columns
one_hot_df.drop(columns='gender_male', inplace=True)

# add columns to previous df
df_new = pd.concat([df, one_hot_df], axis=1)

# drop the old categorical columns
df_new = df_new.drop(categorical_cols, axis=1)

# check my work
df_new.head()
df_new.info()

['gender', 'InternetService', 'Contract', 'PaymentMethod']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SeniorCitizen                            7043 non-null   int64
 1   Partner                                  7043 non-null   int64
 2   Dependents                               7043 non-null   int64
 3   tenure                                   7043 non-null   int64
 4   PhoneService                             7043 non-null   int64
 5   MultipleLines                            7043 non-null   int64
 6   OnlineSecurity                           7043 non-null   int64
 7   OnlineBackup                             7043 non-null   int64
 8   DeviceProtection                         7043 non-null   int64
 9   TechSupport                              7043 non-null   int64
 10  StreamingTV                              7043 non-null   int64
 11  StreamingMovies                          7043 non-null   int64
 12  PaperlessBilling                         7043 non-null   int64
 13  MonthlyCharges                           7043 non-null   float64
 14  TotalCharges                             7043 non-null   float64
 15  Churn                                    7043 non-null   int64
 16  gender_female                            7043 non-null   float64
 17  InternetService_dsl                      7043 non-null   float64
 18  InternetService_fiber optic              7043 non-null   float64
 19  InternetService_no                       7043 non-null   float64
 20  Contract_month-to-month                  7043 non-null   float64
 21  Contract_one year                        7043 non-null   float64
 22  Contract_two year                        7043 non-null   float64
 23  PaymentMethod_bank transfer (automatic)  7043 non-null   float64
 24  PaymentMethod_credit card (automatic)    7043 non-null   float64
 25  PaymentMethod_electronic check           7043 non-null   float64
 26  PaymentMethod_mailed check               7043 non-null   float64
dtypes: float64(13), int64(14)
memory usage: 1.5 MB