# Customer Churn - Feature Engineering

Let's implement some feature engineering to enhance model training.

In [4]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from scipy import stats

In [5]:
# configure visuals
sns.set_palette("husl")
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Current State of the data

In [8]:
# take a look at our data
df = pd.read_csv('data/processed/customer_churn_clean.csv')
print("\nDataset shape:", df.shape)
df.head()

Dataset shape: (7043, 21)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-vhveg,female,0,1,0,1,0,0,dsl,0,1,0,0,0,0,month-to-month,1,electronic check,29.850,29.850,0
1,5575-gnvde,male,0,0,0,34,1,0,dsl,1,0,1,0,0,0,one year,0,mailed check,56.950,1889.500,0
2,3668-qpybk,male,0,0,0,2,1,0,dsl,1,1,0,0,0,0,month-to-month,1,mailed check,53.850,108.150,1
3,7795-cfocw,male,0,0,0,45,0,0,dsl,1,0,1,1,0,0,one year,0,bank transfer (automatic),42.300,1840.750,0
4,9237-hqitu,female,0,0,0,2,1,0,fiber optic,0,0,0,0,0,0,month-to-month,1,electronic check,70.700,151.650,1